include .editorconfig
include .gitignore
include AUTHORS
include INSTALL
include LICENSE
include LICENSE.python
include MANIFEST.in
include README.md
include requirements.txt
include setup.cfg
include setup.py
include Vagrantfile
graft docs
graft provisioning
graft pyopenehr_adl2core
graft tests
global-exclude __pycache__
global-exclude *.py[co]
